# vi: set ft=yaml :

# Where your dotfiles live. Probably don't need to change this.
dotfiles_home: "{{ '~/dotfiles' | expanduser}}"

# Vim

# Only applies to OSX
vim_install_macvim: yes
# Whether to install plugins automatically. If not, just run
# :PluginInstall while in vim.
vim_install_plugins: no

# Git
git_user: YOUR_GIT_USERNAME
# If you use github, this should be the same as the email
#  used on Github
git_email: YOUR_GIT_EMAIL

# Brew packages

# Utiliities that don't get installed by a role
osx_homebrew_packages:
  - wget
  - tree

# Mac Apps to be installed with homebrew-cask
osx_cask_packages:
  - firefox
  - google-chrome
  - bettertouchtool
  - iterm2
