# vi: set ft=yaml :


dotfiles_user_home: CHANGE_ME
# Where your dotfiles live. Probably don't need to change this.
dotfiles_home: "{{dotfiles_user_home}}/dotfiles"

# Git
git_user: YOUR_GIT_USERNAME
# If you use github, this should be the same as the email
#  used on Github
git_email: YOUR_GIT_EMAIL
