[defaults]
inventory = ./hosts.ini
remote_tmp = /tmp/.ansible/tmp
# Silence warning about future Python installations
# https://docs.ansible.com/ansible-core/2.19/reference_appendices/interpreter_discovery.html
interpreter_python = auto_silent
display_skipped_hosts = false

[privilege_escalation]
become_ask_pass = False

[ssh_connection]
pipelining = True
