[user]
        name = {{ git_name }}
        email = {{ git_email }}
[alias]
        a = add
        ac = !git add -A && git commit
        s = status
        co = checkout
        cob = checkout -b
        cp = cherry-pick
        c = checkout
        ci = commit
        l = log --graph --decorate --oneline --abbrev-commit --all
        h = log --graph --decorate --oneline --abbrev-commit
        amend = commit --amend
        wip = !git add -A && git commit -m "WIP" --no-verify
        br = branch
        up = !git pull --rebase --prune $@ && git submodule update --init --recursive

        df = diff
        dfs = diff --staged

        please = push --force-with-lease
        # publish current branch
        publish = "!f() { git push -u ${1:-origin} $(git rev-parse --abbrev-ref HEAD); }; f"
        pub = publish

        # Remove local branches that have been removed upstream
        cleanup = "!git fetch --all -p && git branch -vv | grep \": gone]\" | awk '{ print $1 }' | xargs -n 1 git branch -D"

        # Sync branches and cleanup local branches (depends on above alias)
        sup = "!gh repo sync && git checkout $(git remote show origin | grep 'HEAD branch' | sed 's/.*: //') && git cleanup"

        # http://gggritso.com/human-git-aliases
        unstage = reset -q HEAD --
        discard = checkout --
        uncommit = reset --mixed HEAD~

        url = "!f() { sha=$(git rev-parse ${1:-HEAD}); gh browse $sha -n; }; f"

{% if ansible_facts["system"] == "Darwin" %}
        # Copy current branch name to clipboard (macOS only)
        cb = "!git rev-parse --abbrev-ref HEAD | tr -d '\n' | pbcopy"
{% else %}
        # Copy current branch name to clipboard (Linux)
        cb = "!git rev-parse --abbrev-ref HEAD | tr -d '\n' | xclip -selection clipboard"
{% endif %}

        # Slightly quicker way to credit an author on the latest commit.
        # Usage: git credit "Steven Loria" git@stevenloria.com
        credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD }; f"

        # Set up your branch to track a remote branch. Assumes you mean `origin/$branch-name`.
        track = "!f() { branch=$(git rev-parse --abbrev-ref HEAD); git branch $branch --set-upstream-to origin/$branch }; f"
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore_global
        attributesfile = ~/.gitattributes_global
        editor = nvim
        # https://github.com/dandavison/delta?tab=readme-ov-file#get-started
        pager = delta
[interactive]
        diffFilter = delta --color-only
[merge]
        conflictStyle = zdiff3
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[pull]
        rebase = true
[push]
        autoSetupRemote = false
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[credential "https://github.com"]
        helper =
        helper = !gh auth git-credential
[init]
        defaultBranch = main
