
- import_tasks: mac.yml
  when: ansible_os_family == "Darwin"


- name: Install Python versions with pyenv
  command: pyenv install {{item}}
  args:
    creates: "{{ '~/.pyenv/versions/' + item | expanduser }}"
  with_items: '{{pyenv_global_versions}}'

- name: Set global Python versions with pyenv
  copy:
    content: "system\n{% for version in pyenv_global_versions %}{{ version }}\n{% endfor %}"
    dest: "{{ '~/.pyenv/version' }}"

- name: Check if pytest.ini file exists
  stat: path="{{dotfiles_user_home}}/pytest.ini"
  register: pytest_stat

- name: Back up pytest.ini file
  command: mv ~/pytest.ini ~/pytest.ini.bak
  args:
    creates: "{{dotfiles_user_home}}/pytest.ini"
  when: pytest_stat.stat.exists

- name: Link pytest.ini file
  file:
    src: "{{dotfiles_home}}/roles/python/files/pytest.ini"
    dest: "{{dotfiles_user_home}}/pytest.ini"
    state: link
