# macOS zsh installation and setup

- name: Make sure zsh is installed
  homebrew: name=zsh state=latest

# http://zanshin.net/2013/09/03/how-to-use-homebrew-zsh-instead-of-max-os-x-default/
- name: Add zsh to /etc/shells
  lineinfile:
    line: /usr/local/bin/zsh
    dest: /etc/shells
    state: present
  register: zsh_shells
  become: true
  become_method: sudo

- name: Change default shell to zsh
  command: chsh -s /usr/local/bin/zsh
  # Only run this if above task was changed
  when: zsh_shells.changed

# Fix broken /etc/zshenv, which runs path_helper
# We rename it to prevent unwanted reordering of $PATH
# https://github.com/sorin-ionescu/prezto/issues/381
# https://github.com/thoughtbot/dotfiles/pull/426#issue-109716011
- name: Fix broken /etc/zshenv
  command: creates="/etc/zprofile" mv /etc/zshenv /etc/zprofile
  become_method: sudo
