<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sloria.beszel-agent</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/beszel-agent</string>
        <string>-key</string>
        <string>{{ lookup('env', 'BESZEL_AGENT_KEY') }}</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
        <!-- Prevent excessive restarts -->
        <key>ThrottleInterval</key>
        <integer>60</integer>
    </dict>

    <!-- Lower the agent's process priority -->
    <key>Nice</key>
    <integer>10</integer>

    <!-- Limit resource usage -->
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/log/beszel-agent.log</string>
    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/log/beszel-agent.log</string>
</dict>
</plist>
