(cloudflare) {
	tls {
		dns cloudflare CHANGEME
	}
}

# Change "example.com" to your chosen domain
# llm.in.example.com {
# 	reverse_proxy http://localhost:8080
# 	import cloudflare
# }

# adguard.in.example.com {
# 	reverse_proxy http://localhost:4321
# 	import cloudflare
# }
