- name: Ensure /Library/Application Support/open-webui directory exists
  file:
    path: "/opt/homebrew/var/open-webui"
    state: directory

- name: Symlink com.sloria.open-webui.plist to ~/Library/LaunchAgents
  file:
    src: "{{ dotfiles_home }}/roles/open-webui/files/com.sloria.open-webui.plist"
    dest: "{{ dotfiles_user_home }}/Library/LaunchAgents/com.sloria.open-webui.plist"
    state: link

- name: Load open-webui agent with launchctl
  command: launchctl load ~/Library/LaunchAgents/com.sloria.open-webui.plist

# Backups
- name: Ensure backups folder exists
  file:
    path: "/opt/homebrew/var/open-webui/backups"
    state: directory

- name: Symlink backup script
  file:
    src: "{{ dotfiles_home }}/roles/open-webui/files/backup_db.sh"
    dest: "/opt/homebrew/var/open-webui/backup_db.sh"
    state: link

- name: Create com.sloria.backup-open-webui-db.plist in ~/Library/LaunchAgents
  template:
    src: "com.sloria.backup-open-webui-db.plist.j2"
    dest: "{{ dotfiles_user_home }}/Library/LaunchAgents/com.sloria.backup-open-webui-db.plist"

- name: Load backup agent with launchctl
  command: launchctl load ~/Library/LaunchAgents/com.sloria.backup-open-webui-db.plist
