<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sloria.backup-open-webui-db</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/var/open-webui/backup_db.sh</string>
    </array>
    <!-- Every sunday at midnight -->
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key>
            <integer>0</integer>
            <key>Hour</key>
            <integer>0</integer>
        </dict>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>AWS_ACCESS_KEY_ID</key>
        <string>{{ lookup('env', 'AWS_ACCESS_KEY_ID') }}</string>
        <key>AWS_SECRET_ACCESS_KEY</key>
        <string>{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}</string>
        <key>RESTIC_PASSWORD</key>
        <string>{{ lookup('env', 'RESTIC_PASSWORD') }}</string>
        <key>RESTIC_REPOSITORY</key>
        <string>{{ lookup('env', 'RESTIC_REPOSITORY') }}</string>
    </dict>

    <key>StandardErrorPath</key>
    <string>/opt/homebrew/var/open-webui/backup.log</string>
    <key>StandardOutPath</key>
    <string>/opt/homebrew/var/open-webui/backup.log</string>
    <key>WorkingDirectory</key>
    <string>/opt/homebrew/var/open-webui</string>
</dict>
</plist>
